/DesignPattern/obj
/DesignPattern/bin
/Tools/obj
/Tools/bin
/DesignPatternsASP/obj
/DesignPatternsASP/bin
/DesignPatterns.Repository/obj
/DesignPatterns.Repository/bin
/DesignPatterns.Repository/wwwroot
/DesignPatterns.Models/obj
/DesignPatterns.Models/bin
/DesignPatterns.Models/wwwroot
/.idea
/.vs