@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}

<div class="row">
    <div class="col-12">
        <label for="">Total Local</label>
        <b>@totalLocal</b><br>
        <label for="">Total Foreign</label>
        <b>@totalForeign</b>
    </div>

</div>